<%- include("./partials/header.ejs") %>
<h1>Welcome <%= email %>!</h1>
<p>This application allows you to track your behavior (sleep, mood, exercising, studying) on weekly/monthly basis. The application provides you with statistics such as
    average sleep duration and generic mood. The application works so that you report your doings to the app and it provides you with calculated averages over the time 
    period chosen.
</p>

<!--Summary overview-->
<h2>Summary overview</h2>
<!--average mood-->
<h3>Average mood today: <%= today %></h3>
<h3>Average mood yesterday: <%= yesterday %></h3>
<h3><%= mood %></h3>


<h4>Already have an account?</h4>
<a href="/auth/login">Login here!</a>
<h4>Dont have an account?</h4>
<a href="/auth/registration">Register here!</a>
<br>
<br>
<a href="/behavior/reporting">Give reports here!</a>
<br>
<form method="POST" action="/auth/logout">
    <input type="submit" value="Logout"/>
</form>
<%- include("./partials/footer.ejs") %> 